:root{
    --antiflash-white: rgb(236, 238, 238);
    --castleton-green-opague: rgba(4, 95, 68, 0.8);
    --castleton-green: rgb(4, 95, 68);
    --sea-green: rgb(2, 132, 64);
    --cambridge-blue: rgb(141, 170, 145);
    --opague-black: rgba(0.5, 0.5, 0.5, 0.6);
}

/* ========== General styling ========== */
html{
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(data/images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* ========== Header styling ========== */
header{
    display: inline;
    position: fixed;
    width: 100%;
    background-color: var(--castleton-green);
    text-align: center;
    color: white;
}

/* ========== Main section styling ========== */
main{
 padding-top: 6em;
}
#characters article{
    border-radius: 1em;
    padding: 1em;
    display: block;
    cursor: pointer;
    box-shadow: 1px 1px 1px 2px var(--opague-black);
    background-color: var(--antiflash-white);
    height: auto;
}
#characters article:hover {
    box-shadow: 2px 2px 2px 3px var(--opague-black);
}
#characters article img{
    width:  100%;
    height: 300px;
    object-fit: cover;
    overflow: clip;
    overflow-clip-margin: content-box;
}

/* ========== Dialog styling ========== */
dialog{
    width: 75vw;
    background-image: url(data/images/dialog-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--antiflash-white);
    border: 3px solid var(--castleton-green);
}
dialog img {
    width: 100%;
}
dialog article{
    background-color: var(--castleton-green-opague);
    width: 60vw;
    padding: 1em;
    margin: auto;
    border-radius: 1em;
}
#dialog-catchPhrase {
    font-style: italic;
}
figure {
    width: 100%;
    margin: 0;
}
figure img{
    width: 100%;
}
#dialog-info{
    grid-column: 2/2;
}
#dialog-info li{
    margin: 1em;
}
form {
    margin: 2em;
    text-align: center;
}
form button {
    background-color: var(--sea-green);
    color: var(--antiflash-white);
    border: 1px solid var(--antiflash-white);
    height: 2.5em;
    width: 2.5em;
    cursor: pointer;
    position: absolute;
    top: 0.2em;
    right: 0.5em;
    border-radius: 3em;
    box-shadow: 0 0 0 1px var(--opague-black);
}
form button:hover{
    box-shadow: 0 0 0 2px var(--opague-black);
}

/* ========== Footer styling ========== */
footer{
    background-color: white;
    color: var(--sea-green);
    text-align: center;
}

/* ========== Grid styling ========== */
.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    gap: 2em;
}
#dialog-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}
@media (min-width: 600px){
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 900px){
    .grid-container{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1200px){
    .grid-container{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 1500px){
    .grid-container{
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (min-width: 1800px){
    .grid-container{
        grid-template-columns: repeat(6, 1fr);
    }
}
@media (min-width: 2100px){
    .grid-container{
        grid-template-columns: repeat(7, 1fr);
    }
}